@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: oklch(19.171% 0.03836 230.362);

  --primary: oklch(19.171% 0.03836 230.362);
  --foreground: oklch(0.985 0 0);
  --secondary: oklch(75.236% 0.14929 235.166);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(10px, -18px, 0) scale(1.01);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

/* delays */
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-3500 {
  animation-delay: 3.5s;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
}
